<div class="main">
  <div class="title">Every Second Counts</div>
  <div class="container">
    <div style="display:flex; margin-top: 20px;">
      <div class="vidContainer">
        <div class="quadView">
          <table *ngIf="cameraStreamMap">
            <tr>
              <td>
                <iframe class="videofeed" #videoElement1 autoplay muted [src]="cameraStreamMap.camera21"></iframe>
              </td>
              <td>
                <iframe class="videofeed" #videoElement2 autoplay muted [src]="cameraStreamMap.camera22"></iframe>
              </td>
            </tr>
            <tr>
              <td>
                <!-- <iframe class="videofeed" #videoElement3 autoplay muted [src]="cameraStreamMap.camera24"></iframe> -->
              </td>
              <td>
                <!-- <iframe class="videofeed" #videoElement4 autoplay muted [src]="cameraStreamMap.camera26"></iframe> -->
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="right">
        <div class="map">
          <div class="image"></div>
          <div class="target target1"><i class="ms ms-video"></i></div>
          <div class="target target2"><i class="ms ms-video"></i></div>
          <div class="target target3"><i class="ms ms-video"></i></div>
          <div class="target target4"><i class="ms ms-video"></i></div>
        </div>
        <div class="alice">
          <div class="buttons">
            <button>Alert</button>
            <button>Lockdown</button>
            <button>Inform</button>
            <button>Counter</button>
            <button>Evacuate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="{'alert': alarmOn}"></div>