@import "../variables.scss";
@import "../assets/fabric-icons.scss";

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    background-color: #343434;
    padding-bottom: 20px;
    z-index: 1;
    position: relative;
    color: $font-color;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 4em;
}

.red {
    border: 4px solid red;
}

.container {
    display: flex;
    height: calc(100% - 105px);
    position: relative;
    overflow: hidden;
}

.vidContainer {
    z-index: 1;
    text-align: center;
    width: 69vw;
}

.videofeed {
    overflow: hidden;
    z-index: 1;
    background-color:black;
}

.right {
    position: relative;
    width: 29vw;
}
.map {
    border-radius: 6px;
    position: relative;
    z-index: 1;
    height: 29vw;
    width: 29vw;
    border: 1px solid black;
    overflow: hidden;
}

.image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../assets/school-layout-fire.png);
    transform: translate(-72%,-18%) scale(3.8);
    width: 100%;
    height: 100%;
}

.alert {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
  
/* Standard syntax */
@keyframes example {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}
}

.buttons {
    position: relative;
    z-index: 1;
    justify-content: center;
    display: flex;
}

button {
    padding: 4px 8px;
    border: 2px solid $font-color;
    background: transparent;
    color: $font-color;
    font-size: 1.5em;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
}

button:hover {
    color: #cc6333;
    border-color: #cc6333;
}

button:focus {
    outline: none;
}

.coordinates {
    margin: 10px;
}

.quadView {
    width: 100%;
    height: 90%;
}

table {
    width: 100%;
    height: 100%;
}

td {
    overflow: hidden;
    width: 50%;
    text-align: center;
}

object {
    width: 600px;
    height: 500px;
}

.target {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: black;
    width: 40px;
    height: 40px;
    font-size: 26px;
    z-index: 1;
    position: absolute;

}

.target1 {
    top: 12%;
    left: 20%;
}

.target2 {
    top: 12%;
    right: 20%;
}

.target3 {
    bottom: 20%;
    left: 20%;
}

.target4 {
    bottom: 20%;
    right: 20%;
}

.target-active {
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    background-color: red;
}

/* Standard syntax */
@keyframes example2 {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}
}

iframe {
    border: 0;
}